* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
  }
  /* change font size in whole page */
  html {
    font-size: 10px;
  }

.d-flex {
  display: contents;
}

  /* change font type in whole body in form */
  body {
    font-family: sans-serif;
  }

 
  form {
    justify-content: center;
    max-width: 60rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(2, 2, 2, 0.1);
    padding: 1rem;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .phone{
    width: 20%;
  }

p {
  color: #606459;
  margin-left: 45px;
}
  /* label {
    margin-bottom: 0.5rem;
    font-size: large;
    display: inline-block;
  } */
 
  .header{
    align-items: right;
    position: relative;
  }

  #Genders{
    width: 100%;
    height: 4 rem;
    border-radius: 0.8rem;
    outline: none;
    border: 0.2rem solid #c4c4c4;
    padding: 0 3rem;
    padding-left: unset;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    width: 100%;
    padding: 0.5rem;
  }
  input#file {
    background-color: white;
}
  
element.style {
  width: 140;
} 
  .inputs {
    width: 100%;
    height: 4rem;
    border-radius: 0.8rem;
    outline: none;
    border: 0.2rem solid #c4c4c4;
    padding: 1rem 3rem;
    font-size: small;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
  form div {
    position: relative;
    margin-bottom: 1rem;
  }
  .gj-textbox-md {
    padding: 6px 0;
    margin: -1px;
    background-color: white;
  }
  
  input:focus {
    border: 0.2rem solid #f2796e;
  }
  .failure-icon,
  .error {
    color: red;
  }
  
  #container-fluid{
    display: none;
  }
  label#male {
    font-size: 17px;
  }
  label#female {
    font-size: 17px;
  }
  
  .success-icon {
    color: green;
  }
  label {
    display: inline-block;
    color: white;
    font-size: x-large;
    font-weight: lighter;
}
  
  .error {
    font-size: 1.45rem;
    margin-top: 0.5rem;
  }
  button {
    margin-top: 1.5rem;
    /* width: 100%; */
    height: 4.5rem;
    background-color: #030d2d;
    border: 0.2rem solid #f2796e;
    border-radius: 8rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  button:hover {
    opacity: 0.8;
  }
  .term{
    color: white;
  }
  .Checkbox{
    display: inline-flex;
  }
  
  form div i {
    position: absolute;
    padding: 1.0rem;
  }
  #C_olor {
    color: red;
  }
  /* using mediaquery for making page responsive */
  
  @media (max-width: 998px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 45%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 45%;
    }
  }
  